2. Perform the following operations using Python on the Telecom_Churn
dataset. Compute and display summary statistics for each feature available
in the dataset using separate commands for each statistic. (e.g. minimum
value, maximum value, mean, range, standard deviation, variance and
percentiles).

In [ ]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("D:\Datasets\Datasets\Telecom Churn.csv")
df

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [4]:
df.head(10)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False

In [5]:
df.tail(10)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
3323,IN,117,415,362-5899,no,no,0,118.4,126,20.13,...,97,21.19,227.0,56,10.22,13.6,3,3.67,5,True
3324,WV,159,415,377-1164,no,no,0,169.8,114,28.87,...,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
3325,OH,78,408,368-8555,no,no,0,193.4,99,32.88,...,88,9.94,243.3,109,10.95,9.3,4,2.51,2,False
3326,OH,96,415,347-6812,no,no,0,106.6,128,18.12,...,87,24.21,178.9,92,8.05,14.9,7,4.02,1,False
3327,SC,79,415,348-3830,no,no,0,134.7,98,22.90,...,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [6]:
df.size

69993

In [7]:
df.shape

(3333, 21)

In [9]:
datatype=df.convert_dtypes()
datatype.dtypes

state                      string
account length              Int64
area code                   Int64
phone number               string
international plan         string
voice mail plan            string
number vmail messages       Int64
total day minutes         Float64
total day calls             Int64
total day charge          Float64
total eve minutes         Float64
total eve calls             Int64
total eve charge          Float64
total night minutes       Float64
total night calls           Int64
total night charge        Float64
total intl minutes        Float64
total intl calls            Int64
total intl charge         Float64
customer service calls      Int64
churn                     boolean
dtype: object

In [10]:
df.isnull().sum()

state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

In [11]:
df.mean()

C:\Users\RUTUJA\AppData\Local\Temp\ipykernel_11404\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

account length            101.064806
area code                 437.182418
number vmail messages       8.099010
total day minutes         179.775098
total day calls           100.435644
total day charge           30.562307
total eve minutes         200.980348
total eve calls           100.114311
total eve charge           17.083540
total night minutes       200.872037
total night calls         100.107711
total night charge          9.039325
total intl minutes         10.237294
total intl calls            4.479448
total intl charge           2.764581
customer service calls      1.562856
churn                       0.144914
dtype: float64

In [20]:
#Mean row wise
df.mean(axis=1)[0:6]

C:\Users\RUTUJA\AppData\Local\Temp\ipykernel_11404\2870532835.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=1)[0:6]

0    97.927059
1    92.084706
2    87.452353
3    81.211765
4    83.299412
5    98.400588
dtype: float64

In [21]:
#Mean for first 6 columns
df.mean(axis=0)[0:6]

C:\Users\RUTUJA\AppData\Local\Temp\ipykernel_11404\463710953.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=0)[0:6]

account length           101.064806
area code                437.182418
number vmail messages      8.099010
total day minutes        179.775098
total day calls          100.435644
total day charge          30.562307
dtype: float64

In [12]:
df['account length'].mean()

101.06480648064806

In [13]:
df.var()

C:\Users\RUTUJA\AppData\Local\Temp\ipykernel_11404\1568254755.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

account length            1585.800121
area code                 1795.326257
number vmail messages      187.371347
total day minutes         2966.696487
total day calls            402.768141
total day charge            85.737128
total eve minutes         2571.894016
total eve calls            396.910999
total eve charge            18.581856
total night minutes       2557.714002
total night calls          382.930472
total night charge           5.179597
total intl minutes           7.794368
total intl calls             6.057576
total intl charge            0.568173
customer service calls       1.730517
churn                        0.123951
dtype: float64

In [14]:
df.median()

C:\Users\RUTUJA\AppData\Local\Temp\ipykernel_11404\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

account length            101.00
area code                 415.00
number vmail messages       0.00
total day minutes         179.40
total day calls           101.00
total day charge           30.50
total eve minutes         201.40
total eve calls           100.00
total eve charge           17.12
total night minutes       201.20
total night calls         100.00
total night charge          9.05
total intl minutes         10.30
total intl calls            4.00
total intl charge           2.78
customer service calls      1.00
churn                       0.00
dtype: float64

In [15]:
df.var()

C:\Users\RUTUJA\AppData\Local\Temp\ipykernel_11404\1568254755.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

account length            1585.800121
area code                 1795.326257
number vmail messages      187.371347
total day minutes         2966.696487
total day calls            402.768141
total day charge            85.737128
total eve minutes         2571.894016
total eve calls            396.910999
total eve charge            18.581856
total night minutes       2557.714002
total night calls          382.930472
total night charge           5.179597
total intl minutes           7.794368
total intl calls             6.057576
total intl charge            0.568173
customer service calls       1.730517
churn                        0.123951
dtype: float64

In [16]:
df.max()

state                           WY
account length                 243
area code                      510
phone number              422-9964
international plan             yes
voice mail plan                yes
number vmail messages           51
total day minutes            350.8
total day calls                165
total day charge             59.64
total eve minutes            363.7
total eve calls                170
total eve charge             30.91
total night minutes          395.0
total night calls              175
total night charge           17.77
total intl minutes            20.0
total intl calls                20
total intl charge              5.4
customer service calls           9
churn                         True
dtype: object

In [17]:
df.min()

state                           AK
account length                   1
area code                      408
phone number              327-1058
international plan              no
voice mail plan                 no
number vmail messages            0
total day minutes              0.0
total day calls                  0
total day charge               0.0
total eve minutes              0.0
total eve calls                  0
total eve charge               0.0
total night minutes           23.2
total night calls               33
total night charge            1.04
total intl minutes             0.0
total intl calls                 0
total intl charge              0.0
customer service calls           0
churn                        False
dtype: object

In [58]:

for column in df.columns:
    if(df[column].convert_dtypes().dtypes!='string' and df[column].convert_dtypes().dtypes!='boolean'):
        percentile=df[[column]].quantile([0.25,0.5,0.75])
    
    print("25% percentile ",percentile.loc[0.25])
    print("50% percentile ",percentile.loc[0.50])
    print("75% percentile ",percentile.loc[0.75])

25% percentile  customer service calls    1.0
Name: 0.25, dtype: float64
50% percentile  customer service calls    1.0
Name: 0.5, dtype: float64
75% percentile  customer service calls    2.0
Name: 0.75, dtype: float64
25% percentile  account length    74.0
Name: 0.25, dtype: float64
50% percentile  account length    101.0
Name: 0.5, dtype: float64
75% percentile  account length    127.0
Name: 0.75, dtype: float64
25% percentile  area code    408.0
Name: 0.25, dtype: float64
50% percentile  area code    415.0
Name: 0.5, dtype: float64
75% percentile  area code    510.0
Name: 0.75, dtype: float64
25% percentile  area code    408.0
Name: 0.25, dtype: float64
50% percentile  area code    415.0
Name: 0.5, dtype: float64
75% percentile  area code    510.0
Name: 0.75, dtype: float64
25% percentile  area code    408.0
Name: 0.25, dtype: float64
50% percentile  area code    415.0
Name: 0.5, dtype: float64
75% percentile  area code    510.0
Name: 0.75, dtype: float64
25% percentile  area code    408.0
Name: 0.25, dtype: float64
50% percentile  area code    415.0
Name: 0.5, dtype: float64
75% percentile  area code    510.0
Name: 0.75, dtype: float64
25% percentile  number vmail messages    0.0
Name: 0.25, dtype: float64
50% percentile  number vmail messages    0.0
Name: 0.5, dtype: float64
75% percentile  number vmail messages    20.0
Name: 0.75, dtype: float64
25% percentile  total day minutes    143.7
Name: 0.25, dtype: float64
50% percentile  total day minutes    179.4
Name: 0.5, dtype: float64
75% percentile  total day minutes    216.4
Name: 0.75, dtype: float64
25% percentile  total day calls    87.0
Name: 0.25, dtype: float64
50% percentile  total day calls    101.0
Name: 0.5, dtype: float64
75% percentile  total day calls    114.0
Name: 0.75, dtype: float64
25% percentile  total day charge    24.43
Name: 0.25, dtype: float64
50% percentile  total day charge    30.5
Name: 0.5, dtype: float64
75% percentile  total day charge    36.79
Name: 0.75, dtype: float64
25% percentile  total eve minutes    166.6
Name: 0.25, dtype: float64
50% percentile  total eve minutes    201.4
Name: 0.5, dtype: float64
75% percentile  total eve minutes    235.3
Name: 0.75, dtype: float64
25% percentile  total eve calls    87.0
Name: 0.25, dtype: float64
50% percentile  total eve calls    100.0
Name: 0.5, dtype: float64
75% percentile  total eve calls    114.0
Name: 0.75, dtype: float64
25% percentile  total eve charge    14.16
Name: 0.25, dtype: float64
50% percentile  total eve charge    17.12
Name: 0.5, dtype: float64
75% percentile  total eve charge    20.0
Name: 0.75, dtype: float64
25% percentile  total night minutes    167.0
Name: 0.25, dtype: float64
50% percentile  total night minutes    201.2
Name: 0.5, dtype: float64
75% percentile  total night minutes    235.3
Name: 0.75, dtype: float64
25% percentile  total night calls    87.0
Name: 0.25, dtype: float64
50% percentile  total night calls    100.0
Name: 0.5, dtype: float64
75% percentile  total night calls    113.0
Name: 0.75, dtype: float64
25% percentile  total night charge    7.52
Name: 0.25, dtype: float64
50% percentile  total night charge    9.05
Name: 0.5, dtype: float64
75% percentile  total night charge    10.59
Name: 0.75, dtype: float64
25% percentile  total intl minutes    8.5
Name: 0.25, dtype: float64
50% percentile  total intl minutes    10.3
Name: 0.5, dtype: float64
75% percentile  total intl minutes    12.1
Name: 0.75, dtype: float64
25% percentile  total intl calls    3.0
Name: 0.25, dtype: float64
50% percentile  total intl calls    4.0
Name: 0.5, dtype: float64
75% percentile  total intl calls    6.0
Name: 0.75, dtype: float64
25% percentile  total intl charge    2.3
Name: 0.25, dtype: float64
50% percentile  total intl charge    2.78
Name: 0.5, dtype: float64
75% percentile  total intl charge    3.27
Name: 0.75, dtype: float64
25% percentile  customer service calls    1.0
Name: 0.25, dtype: float64
50% percentile  customer service calls    1.0
Name: 0.5, dtype: float64
75% percentile  customer service calls    2.0
Name: 0.75, dtype: float64
25% percentile  customer service calls    1.0
Name: 0.25, dtype: float64
50% percentile  customer service calls    1.0
Name: 0.5, dtype: float64
75% percentile  customer service calls    2.0
Name: 0.75, dtype: float64

In [59]:
for column in df.columns:
    if(df[column].convert_dtypes().dtypes!='string' and df[column].convert_dtypes().dtypes!='boolean'):
        print(df[column].max()-df[column].min())

242
102
51
350.8
165
59.64
363.7
170
30.91
371.8
142
16.73
20.0
20
5.4
9