4. Write a program to do: A dataset collected in a cosmetics shop showing
details of customers and whether or not they responded to a special offer
to buy a new lip-stick is shown in table below. (Implement step by step
using commands - Dont use library) Use this dataset to build a decision
tree, with Buys as the target variable, to help in buying lipsticks in the
future. Find the root node of the decision tree.

In [25]:
import pandas as pd
df=pd.read_csv("D:\Datasets\Datasets\Lipstick.csv")
df=df.drop(columns=['Id'])
df
# dataset=pd.read_csv("D:\Datasets\Datasets\Lipstick.csv")
# dataset=dataset.drop(columns=['Id'])
# dataset

      Age  Income  Gender       Ms Buys
0     <21    High    Male   Single   No
1     <21    High    Male  Married   No
2   21-35    High    Male   Single  Yes
3     >35  Medium    Male   Single  Yes
4     >35     Low  Female   Single  Yes
5     >35     Low  Female  Married   No
6   21-35     Low  Female  Married  Yes
7     <21  Medium    Male   Single   No
8     <21     Low  Female  Married  Yes
9     >35  Medium  Female   Single  Yes
10    <21  Medium  Female  Married  Yes
11  21-35  Medium    Male  Married  Yes
12  21-35    High  Female   Single  Yes
13    >35  Medium    Male  Married   No

In [2]:
#0=<21, 1=21-35, 2=>35
def age(value):
    if(value=="<21"):
        return 0
    elif(value=="21-35"):
        return 1
    else:
        return 2
    
df['Age']=df['Age'].apply(age)

In [3]:
#0=low, 1=medium, 2=high
def income(value):
    if(value=="High"):
        return 2
    elif(value=="Medium"):
        return 1
    else:
        return 0
    
df['Income']=df['Income'].apply(income)

In [4]:
#0=male, 1=female
def Gender(value):
    if(value=="Male"):
        return 0
    elif(value=="Female"):
        return 1
    
df['Gender']=df['Gender'].apply(Gender)

In [5]:
#0=single, 1=married
def Ms(value):
    if(value=="Single"):
        return 0
    elif(value=="Married"):
        return 1
    
df['Ms']=df['Ms'].apply(Ms)

In [6]:
#0=no, 1=yes
def Buys(value):
    if(value=="Yes"):
        return 1
    elif(value=="No"):
        return 0
    
df['Buys']=df['Buys'].apply(Buys)

In [7]:
df

    Age  Income  Gender  Ms  Buys
0     0       2       0   0     0
1     0       2       0   1     0
2     1       2       0   0     1
3     2       1       0   0     1
4     2       0       1   0     1
5     2       0       1   1     0
6     1       0       1   1     1
7     0       1       0   0     0
8     0       0       1   1     1
9     2       1       1   0     1
10    0       1       1   1     1
11    1       1       0   1     1
12    1       2       1   0     1
13    2       1       0   1     0

In [8]:
# # Import the log2 function
# from math import log2

# # Rest of the code remains the same...

# # Sample dataset
# dataset = [
#     {'Age': '<30', 'Income': 'High', 'Gender': 'Female', 'Buys': 'Yes'},
#     {'Age': '<30', 'Income': 'High', 'Gender': 'Female', 'Buys': 'Yes'},
#     {'Age': '30-40', 'Income': 'Medium', 'Gender': 'Female', 'Buys': 'Yes'},
#     {'Age': '>40', 'Income': 'Low', 'Gender': 'Male', 'Buys': 'No'},
#     {'Age': '>40', 'Income': 'Medium', 'Gender': 'Male', 'Buys': 'No'},
#     {'Age': '>40', 'Income': 'Medium', 'Gender': 'Female', 'Buys': 'Yes'},
#     {'Age': '30-40', 'Income': 'Medium', 'Gender': 'Male', 'Buys': 'Yes'},
#     {'Age': '<30', 'Income': 'Low', 'Gender': 'Female', 'Buys': 'No'},
#     {'Age': '<30', 'Income': 'Medium', 'Gender': 'Male', 'Buys': 'Yes'},
#     {'Age': '>40', 'Income': 'Medium', 'Gender': 'Male', 'Buys': 'Yes'}
# ]

# # Define a function to calculate entropy
# def calculate_entropy(data):
#     classes = set(item['Buys'] for item in data)
#     entropy = 0.0

#     for target_class in classes:
#         p = sum(1 for item in data if item['Buys'] == target_class) / len(data)
#         entropy -= p * (p and log2(p))

#     return entropy

# # Define a function to split the dataset based on a given attribute
# def split_dataset(data, attribute, value):
#     return [item for item in data if item[attribute] == value]

# # Define a function to find the best attribute to split on
# def find_best_attribute(data, attributes):
#     base_entropy = calculate_entropy(data)
#     best_info_gain = 0.0
#     best_attribute = None

#     for attribute in attributes:
#         values = set(item[attribute] for item in data)
#         attribute_entropy = 0.0

#         for value in values:
#             subset = split_dataset(data, attribute, value)
#             weight = len(subset) / len(data)
#             attribute_entropy += weight * calculate_entropy(subset)

#         info_gain = base_entropy - attribute_entropy

#         if info_gain > best_info_gain:
#             best_info_gain = info_gain
#             best_attribute = attribute

#     return best_attribute

# # Define a function to build the decision tree
# def build_decision_tree(data, attributes):
#     # If all examples have the same classification, return a leaf node
#     classes = set(item['Buys'] for item in data)
#     if len(classes) == 1:
#         return {'Buys': classes.pop()}

#     # If there are no attributes left, return a leaf node with the majority class
#     if not attributes:
#         majority_class = max(set(item['Buys'] for item in data), key=lambda x: sum(1 for item in data if item['Buys'] == x))
#         return {'Buys': majority_class}

#     # Find the best attribute to split on
#     best_attribute = find_best_attribute(data, attributes)

#     # Split the dataset based on the best attribute
#     values = set(item[best_attribute] for item in data)
#     subtree = {best_attribute: {}}
#     for value in values:
#         subset = split_dataset(data, best_attribute, value)
#         new_attributes = [attr for attr in attributes if attr != best_attribute]
#         subtree[best_attribute][value] = build_decision_tree(subset, new_attributes)

#     return subtree

# # Main program
# attributes = ['Age', 'Income', 'Gender']
# decision_tree = build_decision_tree(dataset, attributes)

# # Display the decision tree
# print("Decision Tree:")
# print(decision_tree)

In [24]:
import pandas as pd

# # Assuming 'dataset' is your DataFrame
# dataset = pd.DataFrame({
#     'Age': ['<30', '<30', '30-40', '>40', '>40', '>40', '30-40', '<30', '<30', '>40'],
#     'Income': ['High', 'High', 'Medium', 'Low', 'Medium', 'Medium', 'Medium', 'Low', 'Medium', 'Medium'],
#     'Gender': ['Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male'],
#     'Buys': ['Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'Yes']
# })

def Gini_val(col, val):
    y = len(dataset[(dataset[col] == val) & (dataset['Buys'] == 'Yes')])
    total = dataset[col].value_counts()[val]
    n = total - y

    if y == 0 or n == 0:
        return 0

    gini = (1 - ((y / total) ** 2 + (n / total) ** 2))
    return gini

def Gini_idx(col):
    vals = dataset[col].unique()
    gini_sum = 0
    for val in vals:
        occur = len(dataset[dataset[col] == val])
        total = dataset.shape[0]
        gini_sum += (occur / total) * Gini_val(col, val)

    return gini_sum

root = ""
min_gini = 1

print("Gini Index values:\n")
for col in dataset.columns:
    if col == 'Buys':
        continue
    gini_value = Gini_idx(col)
    print(col, ": ", gini_value)
    if gini_value < min_gini:
        min_gini = gini_value
        root = col

print("\nRoot node for the decision tree will be column: ", root)

Gini Index values:

Age :  0.34285714285714286
Income :  0.44047619047619047
Gender :  0.3673469387755103
Ms :  0.44897959183673475

Root node for the decision tree will be column:  Age

In [26]:
def gini(col,var):
    total=len(df[df[col]==var])
    y=len(df[(df[col]==var) &(df['Buys']=="Yes")])
    n=total-y
    if n==0 or y==0:
        return 0
    gini_val=1-(y/total)**2-(n/total)**2
    return gini_val

def gini_idx(col):
    var_values=df[col].unique()
    sum=0
    gin=0
    for var in var_values:
        count=len(df[df[col]==var])
        total=df.shape[0]
        gin+=(count/total)*gini(col,var)
    return gin  
        

root=""
min_gini=1
for col in df.columns:
    if col=="Buys":
        continue
    gini_index=gini_idx(col)
    print(col," ",gini_index)
    if gini_index<min_gini:
        min_gini=gini_index
        root=col
print("The root node is ",root)

Age   0.34285714285714286
Income   0.44047619047619047
Gender   0.3673469387755103
Ms   0.44897959183673475
The root node is  Age